<template lang="pug">
  a.button(:title="label")
    span.button__bar.button__bar1
    span.button__bar.button__bar2
    span.button__hidden {{ label }}
</template>

<script>
export default {
  name: 'btn',
  props: {
    label: String,
  },
};
</script>

<style lang="scss">
.button {
  cursor: pointer;
  height: 40px;
  transition: transform 0.3s ease;
  width: 40px;

  &__bar {
    background-color: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition: transform 0.3s ease;
    width: 40px;
  }

  &--add,
  &--delete {
    .button__bar1 {
      transform: translateY(20px) rotate(90deg);
    }
    .button__bar2 {
      opacity: 0.5;
      transform: translateY(20px);
    }
    &:hover .button__bar1 {
      transform: translateY(20px) rotate(-180deg);
    }
    &:hover .button__bar2 {
      transform: translateY(20px) rotate(90deg);
    }
  }

  &--delete {
    transform: rotate(45deg);
  }

  &--ok {
    .button__bar1 {
      transform: translate(10px, 20px) rotate(-60deg);
    }
    .button__bar2 {
      opacity: 0.5;
      transform: translate(-5px, 28px) rotate(60deg) scaleX(0.5);
    }

    &:hover .button__bar1 {
      transform: translate(-5px, 28px) rotate(60deg) scaleX(0.5);
    }
    &:hover .button__bar2 {
      transform: translate(10px, 20px) rotate(-60deg);
    }
  }

  &__hidden {
    display: none;
  }
}
</style>
