<template lang="pug">
  footer.footer
    FruitForm
</template>

<script>
import FruitForm from './FruitForm.vue';

export default {
  name: 'Footer',
  components: {
    FruitForm,
  },
};
</script>
