<template lang="pug">
  .fruit-form(@keyup.enter="submit" :class="{ 'fruit-form--open' : isOpen }")
    Btn(label="Add" class="open-btn button--add" @click.native="open")
    .fruit-fields
      Textfield(type="text" label='Name' placeholder="Banana" :value="newFruit.name" @input="onUpdateName")
      Textfield(type="text" label='Taste' placeholder="Yummy" :value="newFruit.taste" @input="onUpdateTaste")
      Textfield(type="number" label='Price' placeholder="5" :value="newFruit.price" @input="onUpdatePrice")
      Textfield(type="text" label='Description' placeholder="Long and yellow like a submarine" :value="newFruit.description" @input="onUpdateDescription")
      Textfield(type="text" label='Image' placeholder="https://example.com/banana.png" :value="newFruit.image" @input="onUpdateImage")
      Btn(label="Submit" class="submit-btn button--ok" @click.native="submit")
      Btn(label="Cancel" class="submit-btn button--delete" @click.native="close")
</template>

<script>
import Textfield from './Textfield.vue';
import Btn from './Btn.vue';
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
  name: 'FruitForm',
  components: {
    Textfield,
    Btn,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  computed: mapState(['newFruit']),
  methods: {
    ...mapActions(['createFruit']),
    ...mapMutations(['updateNewFruit']),
    onUpdateName(value) {
      this.updateNewFruit({ field: 'name', value });
    },
    onUpdateTaste(value) {
      this.updateNewFruit({ field: 'taste', value });
    },
    onUpdatePrice(value) {
      this.updateNewFruit({ field: 'price', value });
    },
    onUpdateDescription(value) {
      this.updateNewFruit({ field: 'description', value });
    },
    onUpdateImage(value) {
      this.updateNewFruit({ field: 'image', value });
    },
    open() {
      this.isOpen = true;
    },
    close() {
      this.isOpen = false;
    },
    submit() {
      this.createFruit(this.newFruit);
      this.close();
    },
  },
};
</script>

<style lang="scss">
.open-btn {
  left: auto;
  position: absolute;
  right: auto;
  top: -50px;
}
.submit-btn {
  display: block;
  float: right;
  margin: 1rem;
}
.fruit-form {
  align-items: center;
  background-color: rgb(245, 75, 89);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 100vh;
  transition: top 0.3s ease-out;
  width: 100%;
  z-index: 1;

  &--open {
    top: 0;
  }
}
.fruit-fields {
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: 40rem;
  padding: 5rem;
  width: 100%;
}
</style>
