<template lang="pug">
  .fruit(:id="'fruit'+fruit.id" :style="fruitStyle" :class="{ 'fruit--open' : isOpen }")
    Btn(label="cancel" class="fruit__delete-btn button--delete" @click.native="deleteFruit(fruit.id)")
    section.fruit__header(:style="headerStyle" @click="toggle")
      h2.fruit__name {{ fruit.name }}
    section.fruit__main(@click="toggle" :style="mainStyle")
      .fruit__taste {{ fruit.taste }}
      .fruit__description {{ fruit.description }}
      .fruit__price ${{ fruit.price }}
</template>

<script>
import { mapActions } from 'vuex';
import Btn from './Btn.vue';
import { randomColor } from '@/utils/color.js';

export default {
  name: 'FruitList',
  components: {
    Btn,
  },
  props: {
    fruit: Object,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    ...mapActions(['deleteFruit']),
    toggle() {
      this.isOpen = !this.isOpen;
    },
  },
  computed: {
    fruitStyle() {
      return {
        backgroundColor: this.fruit.color || randomColor(),
      };
    },
    mainStyle() {
      return {
        backgroundColor: randomColor(),
      };
    },
    headerStyle() {
      return {
        backgroundImage: 'url(' + this.fruit.image + ')',
      };
    },
  },
};
</script>

<style lang="scss">
.fruit {
  display: flex;
  flex: 0 0 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;

  &__header,
  &__main {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }

  &__header {
    background-position: center center;
    background-size: cover;
    color: white;
    flex: 0 0 100%;
  }

  &__main {
    @media (min-width: 600px) {
      flex: 0 0 50%;
    }

    color: white;
    flex: 0 0 100%;
    font-family: 'Montserrat', sans-serif;
    left: 0;
    padding: 1rem 5rem;
  }

  &--open &__header {
    @media (min-width: 600px) {
      flex-basis: 50%;
    }
  }
  &--open &__main {
    @media (max-width: 599px) {
      left: -100%;
    }
  }

  &__name {
    @media (max-width: 599px) {
      font-size: 4rem;
    }

    font-family: 'Abril Fatface', cursive;
    font-size: 6rem;
    text-transform: capitalize;
  }

  &__taste {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  &__price {
    font-size: 1.5rem;
    font-style: italic;
  }
  &__description {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 30rem;
  }

  &__delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }
}
</style>
