<template lang="pug">
  header.header
    h1.header__title Fruity
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style lang="scss">
.header {
  align-items: center;
  background-color: #e3e4c3;
  color: white;
  display: flex;
  flex: 0 0 100vh;
  justify-content: center;
  scroll-snap-align: start;

  &__title {
    font-family: 'Monoton', cursive;
    font-size: 10rem;
  }
}
</style>
