<template lang="pug">
  .spinner
</template>

<script>
export default {
  name: 'Spinner',
};
</script>

<style lang="scss">
.spinner {
  animation: spin 1s linear infinite;
  border: 2px solid #000;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 2px solid #fff;
  height: 30px;
  width: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
