<template lang="pug">
  .textfield
    input.textfield__input(:type="type" :value="value" :placeholder="placeholder" @input="$emit('input', $event.target.value)")
    label.textfield__label {{ label }}
</template>

<script>
export default {
  name: 'Textfield',
  props: {
    type: String,
    value: String,
    label: String,
    placeholder: String,
  },
};
</script>

<style lang="scss">
@mixin placeholder {
  &::input-placeholder {
    @content;
  }
  &:placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
  &:input-placeholder {
    @content;
  }
}

@mixin transition($transition...) {
  transition: $transition;
}

.textfield {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.8rem;
  position: relative;

  &__input {
    @include transition(all 0.6s linear);

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: white;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    width: 100%;

    @include placeholder {
      color: transparent;
    }

    &:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      @include placeholder {
        color: inherit;
        font-style: italic;
        opacity: 0.5;
      }
    }
  }

  &__label {
    @include transition(all 0.3s ease);

    color: white;
    font-size: 0.8rem;
    opacity: 0.5;
    pointer-events: none;
  }

  &__input:focus + &__label {
    opacity: 1;
  }
}
</style>
