<template lang="pug">
  #app.app
    Header
    Fruit(v-for="fruit in orderedFruits" :key="fruit.id" :fruit="fruit")
    Footer
    Spinner(class="app__spinner" v-if="loading")
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Fruit from './components/Fruit.vue';
import Spinner from './components/Spinner.vue';
import scrollSnapPolyfill from 'css-scroll-snap-polyfill';
import { mapGetters, mapState } from 'vuex';

export default {
  name: 'App',
  components: {
    Header,
    Footer,
    Fruit,
    Spinner,
  },
  mounted() {
    scrollSnapPolyfill();
    this.$store.dispatch('loadData');
  },
  computed: {
    ...mapGetters(['orderedFruits']),
    ...mapState(['loading']),
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100%;

  &__spinner {
    bottom: 20px;
    position: absolute;
    right: 20px;
    z-index: 1;
  }
}
</style>
